
.cell {
  border: solid 1px;
  border-color: white;
  min-height: 25px;
  min-width: 25px;
}

.Bar { background-color: #f00; }
.Tee { background-color: #0f0; }
.Square { background-color: #00f; }
.Zee { background-color: #ff0; }
.ReverseZee { background-color: #f0f; }
.El { background-color: #0ff; }
.ReverseEl { background-color: #468; }
.empty {  }

.playingarea {
  background-color: green;
  border: solid 5px;
  border-color: black;
}
.playingarea:focus { border-color: red; }

.previewarea { background-color: #bbb; }

.scorearea { font-size: xx-large; }