
.cell {
  border: solid 1px;
  border-color: white;
  min-height: 25px;
  min-width: 25px;
}

.Bar { background-color: #f00; }
.Tee { background-color: #0f0; }
.Square { background-color: #00f; }
.Zee { background-color: #ff0; }
.ReverseZee { background-color: #f0f; }
.El { background-color: #0ff; }
.ReverseEl { background-color: #468; }
.empty {  }

.board {
  background-color: white;
  border: solid 5px;
  border-color: black;
}
.board:focus { border-color: red; }

.preview { background-color: #ddd; }

.scoreboard { font-size: xx-large; }